body{
    background-color: rgb(163, 212, 212);
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    }
      


.titleGallery{
    background-color: rgb(58, 126, 165);
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border: 2px solid;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
}

.titleSculp{
    background-color: rgb(85, 102, 179);
    text-align: center;
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    margin: 0 35% 10px 30%;
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -ms-border-radius: 35px 35px 35px 35px;
    -o-border-radius: 35px 35px 35px 35px;
}

.showcase{
    width: 500px;
    height: 500px;
    padding: 0 250px 20px 250px;
}